h2.title{
    @include font(36px, 400, 60px);
    font-family: $pf;
    text-transform: uppercase;

}

h3.title{
    @include font(32px, 400, 42px);
    font-family: $pf;
    text-transform: uppercase;
}

.text{
    @include font(16px, 500, 28px);
    font-family: $rw;
    
}