//css Variables
:root{
    --grey: #262626;
    --orange: #ff6033;
    --blue: rgba(0, 196, 196, .9);
    --shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    --bigshadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
}

//scss Variales
$rw: 'Raleway', sans-serif;
$pf: 'Playfair Display', serif;