.choose{
    background: #7A8479;
    padding: 60px;
    color:#fff;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: start;
        padding-left: 50px;
    }
}

.form{
    padding-right: 65px;
    width: 100%;
}