.discount{
    background: url('../images/people.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__baner{
        color:#fff;
        @include font(50px, 700, 66px);
        font-family: $pf;
    }
}