.header{
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    padding: 10px 35px;

    &__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    &__logo{
        font-family:'Montserrat', sans-serif;
        @include font(20px, 800, 24px);
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title{
        margin-top: 30px;
        @include font(48px, 400, 48px);
        font-family: $pf;
        margin-bottom: 60px;
    }
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

