.reviews{
    padding: 100px 60px;
    color: #424948;
    background-color: var(--white);

    &__text{
        margin-top: 20px;
        color:#97A8A5;
        @include font(18px, 500, 21px);
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 50px;
    }

    &__review{
        display: flex;
        justify-content: space-between; 
    }

    &__arrow{
        margin-left: 10px;
        font-size: 9px;
    }

    &__name{
        @include font(18px, 700, 21px);
        font-family: $rw;
    }

    &__date{
      font-family: $rw;
      @include font(12px, 500, 14px);  
    }

    &__rating{
        display: flex;
    }

    &__stars{
        margin-left: 20px;
    }

    &__img{
        display: flex;
        flex-direction: column;
    }

    &__facebook{
        margin-left: 20px;
        color: #0068C9;
    }
}

.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 20px;
	padding: 0;
	cursor: pointer;
	font-size: 24px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #0085ff;
	text-shadow: 1px 1px #0068C9;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color:#0085ff;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #0085ff;
	text-shadow: 1px 1px#0068C9;
}
.rate-area > label:active {
	position: relative;
}
